/*Fondo de sección presentación de tamaño completo acorde a la altura del header de escritorio*/
/*
.seccion-presentacion {
    /*Posicionando imagen de fondo con las siguientes propiedades:
    - center: Centrando horizontal y verticalmente la imágen de fondo.
    */
    /* background-image: linear-gradient(90deg, rgba(245, 245, 245, 0.575) 50%,
            rgba(245, 245, 245, 0.575) 100%), url('../img/fondos/fondo-presentacion.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%; 
}
*/
.seccion-presentacion {
    min-height: 100vh;
    /* background-color: #0B0614; */
    background-color: var(--color-fondo-primario);
}

.seccion-presentacion__fondo {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.seccion-presentacion__fondo-burbujas {
    position: relative;
    display: flex;
    height: 100%;
    z-index: 0;
}

.seccion-presentacion__fondo-burbujas span {
    position: sticky;
    width: 30px;
    height: 30px;
    background-color: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
    z-index: 0;
}

.seccion-presentacion__fondo-burbujas span:nth-child(even) {
    background-color: #4fdc69;
    box-shadow: 0 0 0 10px #4fdc6944,
    0 0 50px #4fdc69,
    0 0 100px #4fdc69;
}

@keyframes animate {
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(15vh) scale(1);
    }
}

/*Tablets y celulares grandes u horizontales*/
@media only screen and (min-width: 768px) and (max-width: 1080px) {
    /*
    .seccion-presentacion {
        /*Posicionando imagen de fondo con las siguientes propiedades:
        - top.
        del header fijo.
        */
        /* background-image: linear-gradient(90deg, rgba(245, 245, 245, 0.575) 50%,
                rgba(245, 245, 245, 0.575) 100%), url('../img/fondos/fondo-presentacion.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: bottom;
        height: 100vh;
    }
    */

    .seccion-presentacion__fondo-burbujas span {
        width: 16px;
        height: 16px;
    }
}

/*Celulares verticales*/
@media only screen and (min-width: 0px) and (max-width: 767px) {

    /*Estableciendo fondo para celular*/
    /*
    .seccion-presentacion {
        /*Posicionando imagen de fondo con las siguientes propiedades:
        - top.
        del header fijo.
        */
        /* background-image: linear-gradient(90deg, rgba(245, 245, 245, 0.575) 50%,
                rgba(245, 245, 245, 0.575) 100%), url('../img/fondos/fondo-presentacion.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100%; 
    }
    */

    .seccion-presentacion__fondo-burbujas span {
        width: 8px;
        height: 8px;
        border-radius: 100%;
    }
}